:root,
#root {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: "Pretendard", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f0ea;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  border-radius: 0;
}

button {
  outline: none;
  border: none;
  border-radius: 0;
}

ul::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

ul::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #dedede;
}
